body {
    background-color: rgb(163, 163, 163);
}

#frame {
    display:flex;
    margin: auto;
    width: 960px;
    height: 960px;
    border: 0px solid rgb(0, 0, 0);
    flex-direction: column;
}
@media only screen and (max-width: 960px) {
    
    #frame {
        width: 100% ;
        height: width;
    }
}


button {
    display:flex;
    margin:auto;
    background-color:rgb(163, 163, 163);
    border:1px solid black;
}

button:hover {
    background-color: black;
    color: rgb(163, 163, 163);
}


.row {
    display:flex;
    height: 50%;
}

.cell {
    display:flex;
    width: fit-content;
    height: fit-content;
    flex-grow: 1;
    background-color:rgb(163,163,163);
    border: 1px solid rgb(163,163,163);
    
}

.lit {
    background-color:black;
}
